<div id="div_id_search_area">
  <button class="btn btn-success" (click)='save()'>Save</button>
  &nbsp;
  <button class="btn btn-danger" (click)='delete()'>Delete</button>
  &nbsp;
  <button class="btn btn-secondary" (click)='close()'>Close</button>
</div>
<div style="margin-top: 20px;">
  <div class='row'>
    <label>Name</label>
    <input class="e-input" type="text" [(ngModel)]="sample.sampleName" />
  </div>

  <div class='row'>
    <label>Content</label>
    <input class="e-input" type="text" [(ngModel)]="sample.sampleContext" />
  </div>
</div>
