<p>test4 works!</p>
<!-- <button #btnA ejs-button >Primary</button> -->
<!-- <ejs-textbox></ejs-textbox> -->

<!-- INTERPOLATION -->

<!-- <div>
  <p>{{str1}}</p>
  <p>{{num1}}</p>
  <p>{{obj1.name}}</p>
  <p>{{1+2}}</p>
  <p>{{num1+num2}}</p>
  <p>{{num1}} + {{num2}}</p>

  <p>{{tmpFunc1(num1,7)}}</p>

  <p>{{num1 + str1}}</p>
</div> -->

<!-- PROPERTY BINDING -->
<!-- [(ngModel)]="" su dung FormsModule-->
<!-- type="'text'" -->
<!-- <input #tmpInp class="e-input" type="text" [value]="num1 + num2" /> -->

<!-- <input type="text" [ngModel]="obj1.name" (ngModelChange)="obj1.name = $event" /> -->

<!-- <input #tmpInp1 class="e-input" type="text" [(ngModel)]="obj1.name" /> -->

<!-- <input #tmpInp1 class="e-input" type="text" [ngModel]="tmpStr" (ngModelChange)="changeTmp($event)"/> -->

<!-- even binding -->
<!-- <button (click)="showInfo($event)">Click me!</button> -->
<!-- (keyup)="inpKeyup($event)" -->

<!-- STYLE BINDING -->
<!-- [style.height]="'50px'" -->
<!-- [style.height.px]="'200'" -->
<!-- [style]="{width: '100px', height: '100px'}" -->
<!-- <div style="width: 500px; height: 50px; background-color: pink;" > -->

  <!-- CLASS BINDING -->
  <!-- [class.cls_blue]='true' -->
  <!-- [class]="'cls_red cls_bg_yl'" -->
  <!-- [class]="['cls_blue','cls_bg_yl']" -->
  <!-- [class]="{cls_blue: false,cls_bg_yl: true}" -->
  <!-- [class]="{cls_blue: flag2,cls_bg_yl: flag1}" -->
  <!-- <span [class]="{cls_blue: false,cls_bg_yl: true}" >CLASS BINDING</span>
</div> -->

<!-- ngIf -->
<!-- <div *ngIf="obj1.age >= 13; else noPG13">
  Bạn có thể xem nội dung PG-13
</div>
<ng-template #noPG13>
  <div>
    Bạn không thể xem nội dung PG-13
  </div>
</ng-template> -->

<!-- service -->
{{serviceProperty}}
<div style="background-color: aqua;">
  {{rawDate}}
  {{tmpDate}}
</div>


<!-- ngFor -->
<div>
  <button class="btn btn-success" (click)='openDetail("")'>New Sample</button>
</div>
<div>{{crudtype}}</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">context</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sampleDatas; index as idx; count as total; even as even">
      <!-- <ng-container *ngIf='even'> -->
        <th scope="row">{{idx +1}}</th>
        <td>{{item['sampleName']}}</td>
        <td>{{item['sampleContext']}}</td>
        <td><button class="btn btn-primary" (click)='openDetail(item["key"])'>Detail</button></td>
      <!-- </ng-container> -->
    </tr>
  </tbody>
</table>

<!-- <button class="btn btn-primary">
  Click here
</button>

<button class="btn btn-danger">
  <i class="fa fa-remove"></i>
  Delete
</button> -->

<!-- ngtemplate -->
<!-- <ng-template #buttonTmpl
             let-label="label"
             let-className="className1"
             let-icon="icon">
    <button [ngClass]="['btn', className ? className : '']">
        <i *ngIf="icon"
           class="fa {{icon}}"></i>
        {{ label }}
    </button>
</ng-template> -->

<!-- phan biet sử dụng div và ng-container -->
<!-- <div [ngTemplateOutlet]="buttonTmpl"
              [ngTemplateOutletContext]="{ label: 'Click here', className1: 'btn-primary', icon: null }">
</div>

<ng-container [ngTemplateOutlet]="buttonTmpl"
              [ngTemplateOutletContext]="{ label: 'Remove', className1: 'btn-danger', icon: 'fa-remove' }">
</ng-container> -->

<!-- ng-content -->
<!-- <div>
  111
  <ng-content select="label"></ng-content>
</div>

<div>
  222
  <ng-content></ng-content>
</div> -->


