<h3>{{title}}</h3>
<app-hello></app-hello>

{{tmpStrTest}}

<app-test4 #tagTest4 [(tmpStr)]='tmpStr'>
  <span>Day là content từ parent ssss</span>
  <label>Label 11</label>
</app-test4>

<!-- <div #chartContainer></div>
<input #tagInp />

<div>{{ tmpDate | date }}</div>
<div>{{ tmpDate | date:'medium'}}</div>
<div>{{ tmpDate | date:'medium' | uppercase}}</div>
<div>{{ tmpCode | cardNoPipe:'BIZNO'}}</div>
<div>{{ tmpCode | cardNoPipe}}</div> -->

<!-- =================
<app-test4 #tagTest41 > </app-test4>-->


<div>
  <!-- <button (click)="tagTest4.test4Func()">test4Func</button> -->
  <button (click)="testFunc()">Vao day!</button>
</div>


<a routerLink="/test2" class="btn btn-primary">test 2</a>
<!-- <a routerLink="/test1" class="btn btn-primary">test 1</a>


<a routerLink="/test2/test3" class="btn btn-primary">test 3</a> -->

<!-- <app-test1></app-test1>
<app-test2></app-test2> -->
<router-outlet></router-outlet>
