@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/* h3 {
  color: red;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
